.ss-wrapper {
    overflow : hidden;
    height   : 100%;
    width: calc(100% - 4px);
    position : relative;
    z-index  : 1;
    float: left;
}

.ss-content {
    height          : 100%;
    width           : 100%;
    padding         : 0px;
    position        : relative;
    right           : -11px;
    overflow-y        : auto;
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
   /* background: rgba(128, 128, 18, 1.0);*/
}

.ss-scroll {
  position            : relative;
  background          : rgba(0, 0, 0, 0);
  width               : 8px;
  border-radius       : 4px;
  top                 : 0;
  z-index             : 2;
  cursor              : pointer;
  transition: opacity 0.25s linear;
}

#addModelBlock:hover .ss-scroll {
  background: rgba(0, 0, 0, .5);
}

#resultList:hover .ss-scroll {
  background: rgba(0, 0, 0, .5);
}

.ss-grabbed {
     user-select: none;
     -o-user-select: none;
     -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
}